DATABASE_URL="postgresql://postgres:postgres@localhost:5432/formbuilder"
JWT_SECRET="supersecret-change-in-prod"
JWT_EXPIRES_IN="7d"
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="Admin@123"
SW_USERNAME="sw_user"
SW_PASSWORD="SW@123"
PORT=3001
NODE_ENV="development"
